mixin recentpost (title ='Austin DIY sriracha polaroid sartorial la croix.', date='December 26, 2019', comments = 5, photo='gon')
   section#recentpost
      img(src="../../img/" + photo + '.png', alt="" + photo width='80').minifyimage 
      h3 #{title}
      .info 
         h4 #{date} - &nbsp;
         h4 #{comments} comments
