mixin tab (img='1', title='Initial Contact', description='Lorem ipsum dolor sit amet, consectetur adipiscing elit.')
   .tab
      img(src="../../img/icons/tabs/" + img + '.png', alt="" + title, width='56' height='56')
      h3 #{title}
      h4 #{description}