section#about
  .container
    .about__content
      h2.title Здрав&фуд — философия 
        span.green здорового образа жизни
      p.description Компания «Здрав&фуд» — российский производитель полезных натуральных перекусов нового поколения.
      p.description
        | Имея 20-летний опыт работы физиологом-биохимиком, я стремилась создать продукт, который не только будет вкусен, но и принесет пользу вашему организму. Вся продукция разрабатывается с учетом физиологических потребностей человека, и компания «Здрав&фуд» гордится тем, что мы используем в производстве только натуральные ингредиенты без вредных добавок.
      p.description
        | Наша миссия — вернуть России продукт с натуральным составом и обеспечить импортозамещение. Мы тщательно контролируем качество сырья, выбирая только надежных поставщиков. Это позволяет нам гарантировать безопасность и полезность каждого снека, который попадает на ваш стол.
      p.description
        | Хотите стать частью перспективной ниши здорового питания и иметь стабильный заработок? Присоединяйтесь к команде «Здрав&фуд» по франшизе.
    .about__image
      img(src="./img/about/photo.png", alt="Дина Валеева — основатель бренда «Здрав&фуд»")
    .about__badge
      img(src="./img/about/bags.png", alt="Здрав&фуд — это вкусно и прибыльно")
      .badge__text Здрав&фуд — это вкусно и прибыльно
      p.subtext Идеальный здоровый перекус: натуральные сладости без сахара
      .badge__logo
        img(src="./img/about/logo.png", alt="Здрав&фуд Лого")
