section#footer
  .footer__content
   .footer__top
      .footer__union
         .footer__unit
            .footer__logo
               img(src="./img/logo.png", alt="Здрав&Фуд Лого").regular
            hr.line
            span.footer__description Франшиза от производителя натуральных сладостей без сахара
      .footer__union__info
         .footer__info
            .email
               a.footer__email(href="mailto:ecomedsnab@mail.ru") ecomedsnab@mail.ru
               span Написать нам
            hr.line
            .phone
               a.footer__phone(href='tel:+79150401252') +7 (915) 040-12-52
               span.footer__subtext Звоните, проконсультируем
         .footer__cta
            button.footer__btn.open-modal Стань партнером
            .footer__socials
               a(href="#", class="vk")
                  img(src="./img/header/vk.png", height=46 weight=46 alt="VK")
               a(href="#", class="wa")
                  img(src="./img/header/wa.png", height=46 weight=46 alt="WhatsApp")
   .footer__nav
      nav
         a(href="#about") О франшизе
         a(href="#why") Почему мы
         a(href="#products") Наши продукты
         a(href="#search") Где искать покупателей
         a(href="#pricing") Экномика
         a(href="#goods") Фото продукции
         a(href="#formats") Форматы
         a(href="#cta") Контакты

   .footer__bottom
      p © Здравфуд 2024. Все права защищены
      a(href="./policy.html") Политика конфиденциальности
