section#formats
   .formats__wrapper
      h2.title.green Сколько стоит 
         span.green франшиза «Здрав&фуд»
      .formats__cards
         .formats__card
            img(src="./img/formats/1.png", alt="Формат 1", class="formats__header")
            .union
               h3 Формат «Торговый представитель»
               p Мы научим вас работать в формате B2B (business-to-business)
               ul
                  li 
                     h5 Пау́шальный взнос
                     span.line
                     span 150 000 ₽
                  li 
                     h5 Закупка первой партии товара
                     span.line
                     span 100 000 ₽
                  li 
                     h5 Оборудование склада, расходы на рекламу, покупка ноутбука
                     span.line
                     span 100 000 ₽
               .formats__details
                  .investment 350 000 ₽
                     span Инвестиции
                  .payback от 6 месяцев
                     span Срок окупаемости
               button.btn.open-modal-business Выбрать формат
         .formats__card
            img(src="./img/formats/2.png", alt="Формат 2", class="formats__header")
            .union 
               h3 Формат «Розничный магазин»
               p Мы научим вас работать в формате B2C (business-to-consumer)
               ul
                  li 
                     h5 
                        h5 Паушальный взнос
                     span.line
                     span 250 000 ₽
                  li 
                     h5 
                        h5 Закупка первой партии товара
                     span.line
                     span 180 000 ₽
                  li 
                     h5 
                        h5 Оборудование склада, расходы на рекламу, покупка ноутбука
                     span.line
                     span 370 000 ₽
               .formats__details
                  .investment 800 000 ₽
                     span Инвестиции
                  .payback от 12 месяцев
                     span Срок окупаемости
               button.btn.open-modal-business Выбрать формат
