section#franchise
   .franchise__wrapper
      .union 
         h2.title Независимо от выбранного формата, 
            span.green франшиза «Здрав&фуд» — это:
         ul.franchise__benefits
            li Гарантия качества
            li Стабильность и надежность
            li Перспективы роста
         .franchise__image
            img(src="./img/franchise/1.png", alt="Магазин")
      .franchise__content
         .vending
            .text
               h3 Вeндинговые аппараты
               p идеальное решение для расширения бизнеса «Здрав&фуд», позволяющее охватить широкую аудиторию, которая ценит удобство, скорость и доступность здоровой пищи. Вeндинговый аппарат полностью автоматизирован, что позволяет минимизировать человеческий фактор и оптимизировать бизнес-процессы. Вы можете установить несколько аппаратов в локациях с активным потоком целевой аудитории, что позволит увеличить общую выручку.
            img(src="./img/franchise/2.png", alt="Вендинговый аппарат")
