section#goods
   h2.title Наша 
      span.green продукция
   .parent
      img(src="./img/goods/1.jpg", alt="Продукт 1").div1
      img(src="./img/goods/2.jpg", alt="Продукт 2").div2
      img(src="./img/goods/3.jpg", alt="Продукт 3").div3
      img(src="./img/goods/4.jpg", alt="Продукт 4").div4
      img(src="./img/goods/5.jpg", alt="Продукт 5").div5
      img(src="./img/goods/6.jpg", alt="Продукт 6").div6
      img(src="./img/goods/7.jpg", alt="Продукт 7").div7
      .uni
         span.open-slider  +1 видео
         img(src="./img/goods/8.jpg", alt="Продукт 8").div8
  

   .slider-modal
      .splide#goods-slider
         .splide__track
            ul.splide__list
               li.splide__slide
                  video( autoplay  loop   )
                     source(src="./img/goods/gallery/1.mp4", type="video/mp4")
                     | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay loop   )
               //-       source(src="./img/goods/gallery/2.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay loop   )
               //-       source(src="./img/goods/gallery/3.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay  loop   )
               //-       source(src="./img/goods/gallery/4.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay loop  )
               //-       source(src="./img/goods/gallery/5.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay loop )
               //-       source(src="./img/goods/gallery/6.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay  loop  )
               //-       source(src="./img/goods/gallery/7.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay loop  )
               //-       source(src="./img/goods/gallery/8.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay loop  )
               //-       source(src="./img/goods/gallery/9.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay  loop  )
               //-       source(src="./img/goods/gallery/10.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay loop  )
               //-       source(src="./img/goods/gallery/11.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.
               //- li.splide__slide
               //-    video( autoplay loop  )
               //-       source(src="./img/goods/gallery/12.mp4", type="video/mp4")
               //-       | Ваш браузер не поддерживает видео тэг.