.holder
  a(href="mailto:ecomedsnab@mail.ru").email ecomedsnab@mail.ru  
  a(href="tel:+79150401252").phone +7 (915) 040-12-52
header.header
  .header__top
    .header__union
      .header__logo
        img(src="./img/logo.png", alt="Здрав&Фуд Лого").regular
      hr.line
      span.header__description Франшиза от производителя натуральных сладостей без сахара
    .header__union__info
      .header__info
        .email
          a.header__email(href="mailto:ecomedsnab@mail.ru") ecomedsnab@mail.ru
          span Написать нам
        hr.line
        .phone
          a.header__phone(href='tel:+79150401252') +7 (915) 040-12-52
          span.header__subtext Звоните, проконсультируем
      .header__cta
        button.header__btn.open-modal Стань партнером
        .header__socials
          a(href="#", class="vk")
            img(src="./img/header/vk.png", height=46 weight=46 alt="VK")
          a(href="#", class="wa")
            img(src="./img/header/wa.png", height=46 weight=46 alt="WhatsApp")

  nav.header__nav
    ul.header__menu
      li.header__item.f
        a(href="#franchise") О франшизе
      li.header__item
        a(href="#whyus") Почему мы
      li.header__item
        a(href="#products") Наши продукты
      li.header__item
        a(href="#wherebuy") Где искать покупателей
      li.header__item
        a(href="#economy") Экономика
      li.header__item
        a(href="#gallery") Фото продукции
      li.header__item
        a(href="#formats") Форматы
      li.header__item.l
        a(href="#contacts") Контакты

  .header__mobile
    .header__icons
      a(href="#", class="action")
        img(src="./img/header/action.png", alt="Action")
      a(href="#", class="call")
        img(src="./img/header/call.png", alt="Call")
      hr.line
      .header__burger
        img(src="./img/header/burger.png", alt="Menu")
    .header__mobile-menu.hidden
      .header__mobile-close
        img(src="./img/header/close.png", alt="Close")

      //- .header__mobile-top
      //-   a.header__email(href="mailto:ecomedsnab@mail.ru") ecomedsnab@mail.ru
      //-   span.header__phone +7 (915) 040-12-52
      //-   .header__logo
      //-     img(src="./img/logo.png", alt="Здрав&Фуд Лого")

      ul.header__mobile-menu-list
        li.header__mobile-item
          a(href="#franchise") О франшизе
          img(src="./img/header/chevron.png", alt="Chevron")
        li.header__mobile-item
          a(href="#whyus") Почему мы
          img(src="./img/header/chevron.png", alt="Chevron")
        li.header__mobile-item
          a(href="#products") Наши продукты
          img(src="./img/header/chevron.png", alt="Chevron")
        li.header__mobile-item
          a(href="#wherebuy") Где искать покупателей
          img(src="./img/header/chevron.png", alt="Chevron")
        li.header__mobile-item
          a(href="#economy") Экономика
          img(src="./img/header/chevron.png", alt="Chevron")
        li.header__mobile-item
          a(href="#gallery") Фото продукции
          img(src="./img/header/chevron.png", alt="Chevron")
        li.header__mobile-item
          a(href="#formats") Форматы
          img(src="./img/header/chevron.png", alt="Chevron")
        li.header__mobile-item.last
          a(href="#contacts") Контакты
          img(src="./img/header/chevron.png", alt="Chevron")

      hr.horizont
      .header__mobile-info
        .email
          a.header__email(href="mailto:ecomedsnab@mail.ru") ecomedsnab@mail.ru
          span Написать нам
        .phone
          a.header__phone(href='tel:+79150401252') +7 (915) 040-12-52
          span.header__subtext Звоните, проконсультируем

      .header__mobile-social
        button.header__btn.open-modal Стань партнером
        .header__socials
          a(href="#", class="vk")
            img(src="./img/header/vk.png", alt="VK")
          a(href="#", class="wa")
            img(src="./img/header/wa.png", alt="WhatsApp")
