section#main
  .container
    .main__content
      span.category Сытно • Вкусно • Полезно
      h1.title Натуральные здоровые перекусы
        br
        span.green  от российского производителя
      p.description Зарабатывайте с франшизой «Здрав&Фуд». Прибыль с первого месяца работы.
      .buttons
        button.btn.red Стань партнером
        button.btn.outline Получить бизнес-план
    .main__image
      img(src="./img/main/photo.png", alt="Мама и дочь едят здоровые перекусы")
