section#pricing
   .wrapper
      .pricing__container
         .pricing__text
            h2.title Ценообразование продукции «Зрав&фуд»
            p Вместе с нашей продукцией вы можете продавать другой сопутствующий товар — по согласованию с правообладателем. Дополнительные продажи — это простой и эффективный способ увеличить прибыль.
         
         img(src="./img/pricing/girl.png", alt="Девушка с продуктом", class="pricing__image").girl

   
      .pricing__details
         .cost
            h3 Себестоимость:
            ul
               li Пастила, 30 г 
                  span.line
                  span 110 ₽
               li Пастила, 100 г
                  span.line
                  span 380 ₽
               li Ириски без сахара, 27 г
                  span.line
                  span 80 ₽
               li Мармелад без сахара, 65 г
                  span.line
                  span 170 ₽
         .price
            h3 Цена продажи:
            ul
               li Пастила, 30 г 
                  span.line
                  span 165 ₽
               li Пастила, 100 г
                  span.line
                  span 570 ₽
               li Ириски без сахара, 27 г
                  span.line
                  span 110 ₽
               li Мармелад без сахара, 65 г
                  span.line
                  span 200 ₽