section#products
  .container
    .products__header
      h2.title Наши 
        span.green продукты
      .products__tags
        span.tag • Оригинальны
        span.tag • Натуральны
        span.tag • Полезны
        span.tag • Разнообразны
        span.tag • Удобны
        span.tag • Вкусны
        span.tag • Привлекательны
      .products__main
        img(src="./img/products/bags.png", alt="Продукты Здрав&Фуд")
    .products__content
      .products__grid
        .product__item
          img(src="./img/products/m.png", alt="Мармелад")
          span.name Мармелад
        .product__item
          img(src="./img/products/p.png", alt="Пастила")
          span.name Пастила
        .product__item
          img(src="./img/products/pp.png", alt="Пастила")
          span.name Пастила
        .product__item
          img(src="./img/products/i.png", alt="Ириски")
          span.name Ириски
