section#search
  .container
    .search__content
      .search__image
        img(src="./img/search/photo.png", alt="Где искать покупателей")
      .search__details
         .info
            h2.title.green Где искать 
               span покупателей
            p.description Здоровый образ жизни становится не просто модой, а осознанной необходимостью. Все больше людей ищут полезные и вкусные альтернативы привычным перекусам.
         .search__image__dublicate
            img(src="./img/search/photo.png", alt="Где искать покупателей")
         .search__tags
            span.tag Фитнес-центры
            span.tag Бассейны
            span.tag Ярмарки выходного дня
            span.tag Детские развивающие центры
            span.tag Кинотеатры
            span.tag Сообщества людей, следующих за питанием
            span.tag Места скопления туристов
            span.tag Учреждения здравоохранения
            span.tag Минимаркеты
            span.tag Аптеки
            span.tag Кофейни
            span.tag Учебные заведения
            span.tag АЗС
            span.tag Бизнес-центры
            span.tag Выставки здорового питания
            span.tag Спортивные выставки
            span.tag Тематические фестивали
            span.tag Аэропорты, вокзалы
            button.show-more Показать еще
               img(src="./img/header/chevron.png", alt="")

      .search__cta-bottom
         .union
            img(src="./img/search/avatars.png", alt="Начните свой путь")
            .cta-text
               p Начните свой путь к успешному бизнесу вместе с франшизой «Здрав&Фуд»
         .search__cta
            button.btn.red.open-modal-business Получить бизнес-план
            