section#trends
  .container
    .trends__content
      .trends__image
         img(src="./img/trends/photo.png", alt="Здоровый образ жизни")
         .text
            h2.title Здоровый образ жизни: ключевой тренд современной России
            .union
               p.description С 2009 года Министерство здравоохранения и социального развития РФ реализует программу «Здоровая Россия». Главная цель этой программы — внедрить у граждан привычку бережно относиться к своему здоровью и активно его поддерживать.
               p.description Здоровый образ жизни начинается именно с правильных привычек. И выбор в пользу здоровых перекусов — важный шаг на пути к себе лучшему!
         .quote
            p.source *Исследования Института общественного мнения «Анкетолог», 2023 г.
      .trends__stats
         .statistic.red
            .stat
               span.value 79%
               p.text россиян ведут активный образ жизни
            img(src="./img/trends/icon.png", alt="")
         .statistic.green
            .stat
               span.value 6,4%
               p.text Растет ежегодно рынок ЗОЖ-продуктов
            img(src="./img/trends/icon.png", alt="")
         .statistic.green
            .stat
               span.value 72%
               p.text россиян следят за своим здоровьем
            img(src="./img/trends/icon.png", alt="")
         .statistic.red
            .stat
               span.value 58%
               p.text россиян стараются правильно питаться
            img(src="./img/trends/icon.png", alt="")