section#why
  .container
    .why__content
      h2.title Почему стоит выбрать 
        span.green именно нашу франшизу
      .why__grid
        .why__item
          img(src="./img/why/1.png", alt="Отлаженные бизнес-процессы")
          .text
            h3.title Отлаженные бизнес-процессы
            span.number 01
        .why__item
          img(src="./img/why/2.png", alt="Продукт с высоким спросом")
          .text
            h3.title Продукт с высоким спросом
            span.number 02
        .why__item
          img(src="./img/why/3.png", alt="Бесперебойные поставки продукции")
          .text
            h3.title Бесперебойные поставки продукции
            span.number 03
        .why__item
          img(src="./img/why/4.png", alt="Мы знаем своего клиента")
          .text
            h3.title Мы знаем своего клиента
            span.number 04
        .why__item
          img(src="./img/why/5.png", alt="Мы научим продавать")
          .text
            h3.title Мы научим продавать
            span.number 05
        .why__item
          img(src="./img/why/6.png", alt="Минимальные риски и высокая рентабельность")
          .text
            h3.title Минимальные риски и высокая рентабельность
            span.number 06
        .why__item
          img(src="./img/why/7.png", alt="Государственная поддержка")
          .text
            h3.title Государственная поддержка
            span.number 07
        .why__item
          img(src="./img/why/8.png", alt="Постоянная поддержка от нашей команды")
          .text
            h3.title Постоянная поддержка от нашей команды
            span.number 08
    .why__cta
      button.btn.red.open-modal Стань партнером
