include ../components/index


main
   include _header
   include _main
   include _about
   include _trends
   include _why
   include _products
   include _search
   include _goods
   include _pricing
   include _formats
   include _franchise
   include _cta
   include _footer
