include mark
mixin benefitbox (header = 'Мы оказываем полноценную поддержку и контролируем запуск и работу центра:', data)
   .benefitbox
      h3.header #{header}
      .benefitbox__container
         each point in data 
            +mark(point.title, point.regular)