include form
mixin cta(idname)
   .cta
      .text
         span 
            span.orange Оставьте заявку, 
            br
            span чтобы получить консультацию и презентацию проекта
         img(src="./img/cta/vectors/arrow.svg", alt="arrow" width=150 height=120)
      +form(idname)