@import "../variables.scss";

.benefitbox {
  padding: 40px;
  background-color: $whitegreen;
  border-radius: 24px;
  border: 2px dashed $bordergrey;

  .header {
    max-width: 590px;
    font-size: 27px;
    font-weight: 600;
    color: $grey;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .mark {
      align-self: start;

      .text {
        max-width: 540px;
      }
    }
  }
}
