@import "../variables.scss";

.box {
  display: flex;
  flex-direction: column;
  background-color: $whitegreen;
  border-radius: 24px;
  border: 2px dashed $bordergreen;
  padding: 77px 40px;
  gap: 30px;
}
