@import "../variables.scss";

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 35px;

  .text {
    position: relative;
    max-width: 305px;
    font-size: 27px;
    flex-direction: column;
    z-index: 2;
    top: -70px;

    span {
      font-weight: 500;
      color: $dark;

      .orange {
        color: $orange;
        font-weight: 600;
      }
    }

    img {
      position: absolute;
      right: 0;
      bottom: -130px;
      transform: rotate(3deg);
      height: 150px;
    }
  }

  @media (max-width: $lscreen) {
    .text {
      font-size: 24px;
    }
  }

  @media (max-width: $notebooks) {
    .text {
      img {
        position: absolute;
        right: 0;
        bottom: -130px;
        transform: rotate(3deg);
        height: 150px;
      }
    }

    form {
      max-width: 320px;
      input:not(input[type="checkbox"]) {
        padding: 10px 20px;
      }

      .button {
        padding: 10px 36px;
      }
    }
  }

  @media (max-width: $tablet) {
    flex-direction: column;

    .text {
      font-size: 20px;
      top: 0;

      img {
        position: absolute;
        left: -125px;
        bottom: -235px;
        transform: rotate(51deg);
        height: 150px;
      }
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;

    .text {
      padding: 0 5px;

      img {
        display: none;
      }
    }

    form {
      max-width: 300px;

      .checkbox {
        input[type="checkbox"] {
          width: 70px;
        }
      }
    }
  }
}
