doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width" )
      link(rel='stylesheet', type='text/css' href='./js/libs/splide/dist/css/splide.min.css')
      link(rel="shortcut icon", href="./img/aboutme/circle_logo.svg", type="image/x-icon")
      link(rel="stylesheet", href="./css/style.css")
      title Франшиза производства натуральных перекусов «Здрав&фуд»
   body 
      include ../sections/index.pug

      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer") 

      //- script(src="./js/libs/jquery.mask.min.js")

      script(src="./js/burger.js")

      script(src="./js/modal.js")

      script(src='./js/libs/splide/dist/js/splide.min.js')

      script(src="./js/slider.js")

      script(src="./js/masks/input.js")






