
doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon", href="./img/logo.png", type="image/x-icon")
      link(rel="stylesheet", href="./css/style.css")
      title Спасибо!
   body 
      section#thankyou(style='height:100vh')
         h2.h2 Спасибо! 
            span Мы получили Вашу заявку!
         h4(style="padding-bottom: 25px;") В ближайшее время с вами свяжется наш специалист

         .button.blue#button
            a(href="/") На главную 