-
   var benefits = [{
      text: 'Дарим красивую речь', 
      img: './img/benefits/vectors/like.svg',
   }, 
   {
      text: 'Даем быстрый результат', 
      img: './img/benefits/vectors/startup.svg',
   }, 
   {
      text: 'Оздоравливаем поколение', 
      img: './img/benefits/vectors/medico.svg',
   },
   {
      text: 'Получаем прибыль', 
      img: './img/benefits/vectors/chart.svg',
   }]
   
   var benefitsMarks = [{
      title: '', 
      regular: 'Работаем со сложными случаями и глубокими проблемами, где нужен комплексный подход нескольких специалистов',
   }, 
   {
      title: '', 
      regular: 'Применяем самые современные и эффективные методики и оборудование',
   }, 
   {
      title: '', 
      regular: 'Предлагаем комплексную диагностику и индивидуальный план коррекции',
   }, 
   {
      title: '', 
      regular: 'Помогаем детям онлайн и офлайн по всей России и миру (Финляндия, Кипр, Германия, США, Индия)',
   }]
