-
   var cards = [{
      id: 1,
      num: '01',
      text: 'Уникальность авторской методики логомассажа в том, что она работает!',
      img: './img/about_methods/card/icons/green.svg',
      rotate: '-1'
   },
   {
      id: 2,
      num: '02',
      text: 'В работе все специалисты используют авторскую методику ДЭНС-терапии.',
      img: './img/about_methods/card/icons/orange.svg',
      rotate: '1'
   },
   {
      id: 3,
      num: '03',
      text: 'Авторские методики рассчитаны на комплексный подход в коррекции.',
      img: './img/about_methods/card/icons/blue.svg',
      rotate: '-2'
   },
   {
      id: 4,
      num: '04',
      text: 'Наши методики акцентированы на современное поколение, которое требует нововведений в коррекции и обучении детей.',
      img: './img/about_methods/card/icons/purple.svg',
      rotate: '3'
   },
   {
      id: 5,
      num: '05',
      text: 'Разработка, внедрение и использование уникальных авторских пособий, структурированных чек-листов для специалистов и родителей.',
      img: './img/about_methods/card/icons/pink.svg',
      rotate: '-1'
   },
   {
      id: 6,
      num: '06',
      text: 'Методики апробированы на базе нашего центра, а их эффективность доказана многолетним опытом, динамикой и внедрением новых технологий, которые приводят к более быстрому результату.',
      img: './img/about_methods/card/icons/yellow.svg',
      rotate: '4',
      anchor:'included'
   },
   ]