-
   var packageData = [
   {
      id: 1,
      title: 'Кабинет коррекции и развития «ВЕРШИНА РЕЗУЛЬТАТА»',
      description: 'Открытие кабинета коррекции и развития подходит для тех, кто планирует не только нанимать сотрудников, но и проводить занятия самостоятельно – самозанятые',
      room: '20 м²: 1 кабинет, зона ресепшена и ожидания, обязательна «мокрая точка».',
      service: 'Логопедические услуги (постановка звуков, запуск речи, коррекция: дисграфии, дислексии; развитие связной речи, логопедический массаж), подготовка к школе (мини-группа), нейрокоррекция.',
      staff: '1-2 логопеда, нейропсихолог, администратор.',
      investment: 'от 550 000 ₽',
      fee: ['200 000 ₽ — для городов с населением до 300 000 человек ', '300 000 ₽ — для городов с населением от 300 000 до 800 000 человек', '500 000 ₽ — для городов с населением от 800 000 человек'],
      payback: 'от 7 месяцев',
      button: 'orange'
   },
   {
      id: 2,
      title: 'Учебный центр коррекции и развития «ВЕРШИНА РЕЗУЛЬТАТА»',
      description: 'Открытие центра коррекции и развития подходит также для франчайзи, которые планируют не только работать, но и получать пассивный доход',
      room: '50 м²: 2-3 кабинета, зона ресепшена и ожидания, обязательна «мокрая точка».',
      service: 'Логопедические услуги (постановка звуков, запуск речи, коррекция дисграфии, дислексии, развитие связной речи, логопедический массаж, ДЭНС-терапия, тейпирование, миокоррекция), подготовка к школе (мини-группа), русский язык, логоритмика, логотренинги, нейрокоррекция .',
      staff: '3 логопеда, нейропсихолог, администратор .',
      investment: 'от 800 000 ₽',
      fee: ['250 000 ₽ — для городов с населением до 300 000 человек', '350 000 ₽ — для городов с населением от 300 000 до 800 000 человек', '600 000 ₽ — для городов с населением от 800 000 человек'],
      payback: 'от 16 месяцев',
      button: 'yes'
   }
   ]

   var categories = [{
      room: 'Помещение:',
      service: 'Услуги:',
      staff: 'Количество персонала:',
      investment: 'Стартовые инвестиции (включая паушальный взнос):',
      fee: 'Паушальный взнос:',
      payback: 'Окупаемость:'

   }]