-
   var slider = [{
      id: 1,
      num: './img/four_benefits/slider/1/num.svg',
      title: 'Востребованный бизнес',
      description: 'По статистике, 90% детей нуждаются в помощи специалистов: 10 детей из 30 посещают занятия.',
      paragraph: 'Количество обращений родителей к коррекционным специалистам растет год от года. На это влияют экология, хронические заболевания, стресс, увеличение нагрузки и развитие технологий. Важно отметить, что и родители стали более осведомлены о проблемах, связанных с развитием детей и стремятся обратиться к специалистам на ранних стадиях, осознавая значимость речевых навыков для успешного развития и адаптации ребенка в социуме.' ,
      img: './img/four_benefits/slider/1/img.png',
      marks: [],
      hstyle: ''
   },
   {
      id: 2,
      num: './img/four_benefits/slider/2/num.svg',
      title: 'Центр коррекции и развития — это простой, быстрый в запуске бизнес',
      description: 'не требующий большого количества персонала и инвестиций. Средние инвестиции на открытие детского сада или центра — от 2 000 000 рублей. Инвестиции на открытие логопедического кабинета «ВЕРШИНА РЕЗУЛЬТАТА» — до 800 000 рублей!',
      paragraph: '' ,
      img: './img/four_benefits/slider/2/img.png',
      marks: [],
      hstyle: ''
   },
   {
      id: 3,
      num: './img/four_benefits/slider/3/num.svg',
      title: 'Поэтапно масштабируемая модель',
      description: '',
      paragraph: 'Вы можете купить минимальный формат для запуска кабинета коррекции и развития и далее расширять свой бизнес поэтапно по мере окупаемости инвестиций и накопления средств. Для небольших городов мы предлагаем формат с эксклюзивом на ваш город, а для больших городов — закрепляем территорию для здоровой конкуренции. Можно сразу купить эксклюзив на ваш город и создать сеть из нескольких центров или кабинетов.' ,
      img: './img/four_benefits/slider/3/img.png',
      marks: [],
      hstyle: ''
   },
   {
      id: 4,
      num: './img/four_benefits/slider/4/num.svg',
      title: 'Социально значимый бизнес',
      description: '',
      paragraph: 'Есть возможность получения:' ,
      img: './img/four_benefits/slider/4/img.png',
      marks: ['Образовательной лицензии для увеличения количества клиентов за счет оплаты материнским капиталом.', 'Статуса «социальный предприниматель» для получения государственной поддержки на развитие бизнеса (пониженная налоговая ставка, получение гранта от Министерства экономического развития, заем под минимальный годовой процент, льготные условия аренды государственного и муниципального имущества).'],
      hstyle: 'padding-bottom: 20px;',
   },
   ];