-
   var whatsIncluded = [{
      id: 1,
      title: 'Зарегистрированный товарный знак «Вершина результата»',
      regular: 'Бренд-бук и авторские брендированные учебные материалы.'
   },
   {  id: 2,
      title: 'Методика',
      regular: 'Передаем обучающие программы, обучаем работе по авторской методике Нины Тумановой.'
   },
   {  id: 3,
      title: 'Бизнес-бук',
      regular: 'Подробная база знаний с необходимыми документами для всех этапов работы и внутренних процессов.'
   },
   {  id: 4,
      title: 'Помещение',
      regular: 'Помощь и консультация по поиску, подбору и аренде помещения, ремонту и брендированию, планированию и зонированию помещения.'
   },
   {  id: 5,
      title: 'Персонал',
      regular: 'Консультируем по подбору и обучению персонала, обучаем и выводим на требуемый уровень компетенций, помогаем наладить адаптацию и мотивацию сотрудников.'
   },
   {  id: 6,
      title: 'Рекламная кампания',
      regular: 'Помогаем составить индивидуальную рекламную стратегию на основании анализа конкурентов и ценовой политики. Передаем необходимые инструкции и чек-листы по всем направлениям маркетинга.'
   },
   
   
   ]
