@use "../variables" as *;

#goods {
  padding: 0 80px 100px;
  background-color: $w;

  @media (max-width: $sxga) {
    padding: 0 40px 80px;
  }

  @media (max-width: $tablet) {
    padding: 0 20px 60px;
  }

  @media (max-width: $tablet) {
    padding: 0 12px 60px;
  }

  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  .container {
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  h2.title {
    font-size: 36px;
    font-weight: 700;
    color: $black;
    margin-bottom: 40px;

    @media (max-width: $tablet) {
      font-size: 30px;
    }

    @media (max-width: $mobile) {
      font-size: 24px;
    }

    .green {
      color: $green;
    }
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    gap: 10px;

    @media (max-width: $sxga) {
      flex-direction: column;
    }

    img {
      width: 100%;
    }

    .div1 {
      grid-row: span 2 / span 2;
    }

    .div2 {
      grid-row: span 2 / span 2;
    }

    .div3 {
      grid-row: span 2 / span 2;
    }

    .div4 {
      grid-column: span 3 / span 3;
      grid-row: span 3 / span 3;
      grid-column-start: 1;
      grid-row-start: 3;
    }

    .div5 {
      grid-column: span 3 / span 3;
      grid-row: span 3 / span 3;
      grid-column-start: 4;
      grid-row-start: 1;
    }

    .div6 {
      grid-row: span 2 / span 2;
      grid-column-start: 4;
      grid-row-start: 4;
    }

    .div7 {
      grid-row: span 2 / span 2;
      grid-column-start: 5;
      grid-row-start: 4;
    }

    .div8 {
      grid-row: span 2 / span 2;
      grid-column-start: 6;
      grid-row-start: 4;
    }

    .uni {
      display: flex;
      flex-direction: column;
      position: relative;

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        color: $w;
        font-size: 22px;
        font-weight: 700;
        cursor: pointer;

        @media (max-width: $notebooks) {
          font-size: 20px;
        }
      }
    }

    @media (max-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }
      .div3 {
        grid-area: 5 / 1 / 6 / 2;
      }
      .div4 {
        grid-area: 2 / 1 / 3 / 3;
      }
      .div5 {
        grid-area: 4 / 1 / 5 / 3;
      }
      .div6 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .div7 {
        grid-area: 3 / 2 / 4 / 3;
      }
      .div8 {
        grid-area: 5 / 2 / 6 / 3;
      }
    }
  }

  .slider-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none; // Начальное состояние скрыто
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .splide {
      width: 90%; // Установим ширину в 90% от экрана
      max-width: 1000px; // Максимальная ширина
      max-height: 80%; // Ограничим максимальную высоту
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      overflow: hidden; // Скроем все выходящее за границы

      @media (max-width: 768px) {
        width: 95%; // Для мобильных устройств ширина будет 95%
        max-height: 70%; // Для мобильных устройств высота будет 70%
        padding: 10px; // Уменьшаем отступы для мобильных устройств
      }
    }

    // Стили для видео внутри слайдера
    video {
      width: 100%;
      height: auto;
      max-height: 80vh; // Максимальная высота 80% от высоты видимого окна
      @media (max-width: 1024px) {
        // Для планшетов
        max-height: 50vh; // Ограничиваем высоту видео
      }

      @media (max-width: 768px) {
        // Для мобильных устройств
        max-height: 40vh; // Ограничиваем высоту видео еще больше для мобильных устройств
      }
    }
  }
}
