@use "../variables" as *;

#pricing {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 60px 80px 100px;
  background-color: $background;
  border-radius: 30px;

  @media (max-width: $sxga) {
    padding: 60px 40px 80px;
  }

  @media (max-width: $tablet) {
    padding: 60px 12px 60px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;

    @media (max-width: $lscreen) {
      flex-direction: column;
      gap: 10px;

      .pricing__container {
        max-width: unset;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: $tablet) {
          flex-direction: column;
          background-image: url("../../../img/pricing/elements_mobile.png");
          background-position: bottom;
          background-size: contain;
        }

        .pricing__text {
          height: 450px;

          .title {
            max-width: 330px;
          }

          p {
            max-width: 400px;
          }

          @media (max-width: $tablet) {
            padding: 20px 0 20px 20px;
            height: unset;
          }
        }
      }

      .pricing__details {
        width: 100%;
        gap: 10px;
        margin-bottom: unset;
      }
    }

    @media (max-width: $tablet) {
      .pricing__container {
        .pricing__text {
          display: flex;
          align-items: center;
          justify-content: center;
          .title {
            font-size: 24px;
            text-align: center;
            max-width: 400px;
            margin-bottom: 10px;
          }

          p {
            font-size: 15px;
            line-height: 1.3;
            text-align: center;
            max-width: 350px;
          }
        }
      }
    }

    @media (max-width: $mobile) {
      .pricing__container {
        .pricing__text {
          display: flex;
          align-items: flex-start;

          .title {
            text-align: left;
            margin-bottom: 10px;
          }

          p {
            font-size: 15px;
            line-height: 1.3;
            text-align: left;
            max-width: 250px;
          }
        }

        .girl {
          width: 100%;
        }

        .pricing__details {
          .cost,
          .price {
            padding: 20px;
            h3 {
              font-size: 16px;
            }
            ul > li {
              font-size: 14px;
            }
          }
        }
      }
    }

    .pricing__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-height: 100%;
      max-width: 740px;
      background-color: $green;
      border-radius: 20px;
      background-image: url("../../../img/pricing/elements.png");

      @media (max-width: $lscreen) {
        max-width: unset;
      }
    }

    .pricing__text {
      padding: 30px 0 30px 30px;
      height: 430px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;

      h2.title {
        font-size: 36px;
        font-weight: 700;
        color: $w;
        line-height: 1.1;

        @media (max-width: $tablet) {
          font-size: 24px;
        }
      }

      p {
        font-size: 18px;
        color: $w;
        line-height: 1.3;
        opacity: 0.9;
        max-width: 330px;

        @media (max-width: $tablet) {
          font-size: 15px;
        }
      }
    }
  }

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pricing__details {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;

    .cost,
    .price {
      background: $w;
      padding: 27px;
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      width: 100%;

      h3 {
        font-size: 22px;
        font-weight: 700;
        color: $black;
        margin-bottom: 24px;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 14px;

        li {
          font-size: 16px;
          color: $grey;
          font-weight: 400;
          display: flex;
          justify-content: space-between;
          position: relative;

          @media (max-width: $mobile) {
            font-size: 14px;
          }

          span {
            color: $red;
          }

          .line {
            color: $grey;
            flex: 1;
            border-bottom: 3px dotted rgba(60, 48, 82, 0.3);
            margin: 2px 10px;
          }
        }
      }
    }
  }
}
