@use "../variables" as *;

#products {
  padding: 100px 80px;
  background-color: $w;

  @media (max-width: $sxga) {
    padding: 80px 40px;
  }

  @media (max-width: $tablet) {
    padding: 60px 20px;
  }

  @media (max-width: $tablet) {
    padding: 60px 12px 60px;
  }

  .container {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @media (max-width: $notebooks) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $mobile) {
      gap: 10px;
    }
  }

  .products__header {
    text-align: left;
    //  margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .products__main {
      // flex: 2;
      img {
        width: 100%;
        border-radius: 15px;
        object-fit: cover;
      }
    }

    h2.title {
      font-size: 36px;
      font-weight: 700;
      color: $black;
      margin-bottom: 24px;
      text-align: left;
      max-width: 550px;

      .green {
        color: $green;
      }

      @media (max-width: $tablet) {
        font-size: 30px;
        display: flex;
        margin-bottom: 30px;
        //   flex-direction: column;
        gap: 8px;
      }

      @media (max-width: $mobile) {
        font-size: 24px;
      }

      @media (max-width: 350px) {
        font-size: 22px;
      }
    }

    .products__tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px;
      margin-bottom: 30px;

      span.tag {
        font-size: 16px;
        color: $grey;
        padding: 10px 20px 10px 30px;
        border-radius: 10px;
        border: 1px solid $border;

        @media (max-width: $tablet) {
          font-size: 14px;
        }

        @media (max-width: $mobile) {
          padding: 10px 20px 10px 20px;
        }
      }
    }
  }

  .products__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }

    .products__grid {
      // display: flex;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(2, minmax(305px, 1fr));
      grid-template-rows: repeat(2, minmax(326px, 1fr));

      gap: 20px;
      // flex: 1;

      @media (max-width: $sxga) {
        grid-template-columns: repeat(2, minmax(285px, 1fr));
        grid-template-rows: repeat(2, minmax(300px, 1fr));
      }

      @media (max-width: $lscreen) {
        grid-template-columns: repeat(2, minmax(270px, 1fr));
        grid-template-rows: repeat(2, minmax(200px, 1fr));
      }

      @media (max-width: $notebooks) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }

      // @media (max-width: 840px) {
      //   grid-template-rows: repeat(2, 370px);
      // }

      // @media (max-width: 800px) {
      //   grid-template-rows: repeat(2, 350px);
      // }

      @media (max-width: $tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }

      @media (max-width: $mobile) {
        gap: 10px;
      }

      .product__item {
        background-color: #f2f5f0;
        //   padding: 20px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-height: 320px;
        height: 100%;
        max-width: 305px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        object-fit: cover;

        @media (max-width: $notebooks) {
          max-width: unset;
          max-height: unset;
        }

        img {
          width: 100%;
          height: auto;
          //  border-radius: 20px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          margin-bottom: 10px;
          @media (max-width: $mobile) {
            margin-bottom: 0;
          }
        }

        span.name {
          font-size: 16px;
          font-weight: 400;
          padding: 18px 0;
          color: $black;

          @media (max-width: $mobile) {
            font-size: 14px;
            padding: 12px 0;
          }
        }
      }
    }
  }
}
