// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./modules/reset";

@import "./variables";

@import "./components";

@import "./fonts";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  font-family: "cf", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  opacity: 1;
  z-index: 99;

  button {
    outline: none;
    border: none;
    color: $w;
    font-weight: 700;
    font-family: "cf", sans-serif;
    font-size: 18px;
  }

  input {
    outline: none;
    border: none;
    color: $dark;
    font-weight: 400;
    font-family: "cf", sans-serif;
    font-size: 18px;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
  }

  .h2 {
    font-size: 40px;
    font-weight: 600;
    color: $dark;

    span {
      color: $blue;
    }

    @media (max-width: $sxga) {
      font-size: 34px;
    }

    @media (max-width: $lscreen) {
      font-size: 30px;
    }

    @media (max-width: $notebooks) {
      font-size: 26px;
      max-width: 380px;
    }

    @media (max-width: $tablet) {
      display: block;
      font-size: 22px;
      max-width: 380px;
      // text-align: center;
    }

    @media (max-width: $mobile) {
      font-size: 22px;
      display: block;

      max-width: 380px;
      text-align: left !important;
    }
  }

  .h3 {
    font-size: 30px;
    font-weight: 600;
    color: $w;

    span {
      color: $blue;
    }

    @media (max-width: $sxga) {
      font-size: 30px;
    }

    @media (max-width: $lscreen) {
      font-size: 26px;
    }

    @media (max-width: $notebooks) {
      font-size: 22px;
      max-width: 380px;
    }

    @media (max-width: $tablet) {
      display: block;
      font-size: 18px;
      max-width: 380px;
      // text-align: center;
    }

    @media (max-width: $mobile) {
      font-size: 18px;
      display: block;

      max-width: 380px;
      text-align: left !important;
    }
  }

  .small {
    max-width: 450px;
    font-size: 18px;
    font-weight: 400;
    color: $grey;
    line-height: 26px;

    @media (max-width: $sxga) {
      font-size: 16px;
      max-width: 395px;
    }

    @media (max-width: $notebooks) {
      font-size: 14px;
      line-height: 20px;
      max-width: 348px;
    }

    @media (max-width: $tablet) {
      font-size: 13px;
      line-height: 18px;
      max-width: 348px;
    }
  }

  .modal-open {
    overflow: hidden;
  }
  .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    animation-name: fadeIn;
    animation-duration: 0.4s;
    z-index: 999;
  }

  .modal-content {
    position: relative;
    background-color: $blue;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px 30px 40px 30px;
    border-radius: 20px;
    border: 1px solid #888;
    box-sizing: border-box;
    width: 100%;
    max-width: 450px;
    animation-name: slideIn;
    animation-duration: 0.4s;

    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .mob {
      display: none;
    }

    .closesvg path {
      fill: inherit;
      // stroke: #667281;
      stroke: $w;
    }
    .close {
      cursor: pointer;
    }
    .closesvg:hover path {
      stroke: #ed1c24;
      text-decoration: none;
      cursor: pointer;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      form {
        gap: unset;

        h3 {
          font-size: 20px;
          font-weight: 500;
          color: $w;
          max-width: 380px;
          margin-bottom: 10px;
        }

        h4 {
          font-size: 15px;
          color: $w;
          margin-bottom: 30px;
        }

        .inputs {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 20px;
          color: $w;

          input {
            color: $w;
            font-size: 15px;
          }
        }

        .button {
          background-color: $w;
          color: $blue;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }

  @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Добавить в конец файла style.css */

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .modal.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.4s;
  }
}

@import "./modules";
