// Media-Queries
$mobile: 480px;
$tablet: 768px;
$notebooks: 1024px;
$lscreen: 1200px;
$sxga: 1300px;
$xlscreen: 1920px;

//Text colors
$black: #30302f;

$dark: #30302f;

$grey: #575756;
$red: #b01114;
$green: #809f1b;
$w: #fff;
$background: #f2f5f0;
$border: #dee0da;

$orange: #ef7f1a;
$placeholder: #ffffff;
$blue: #3572c1;

//Borders colors
$bordergrey: #e0e0e0;
$bordergreen: #b0cb1f;
$bordercard: #ceccbf;

//Background colors
$whitegreen: #faf8eb;
$backgroundgreen: #f2f5d5;
$greenbox: rgba(176, 203, 31, 0.08);
$firstground: #eff4fa;
